<header class="main-header">
  <!-- Logo -->
  <a href="/index" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini">
      <b>W</b>TK</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg">
      <b>Ws</b>Task</span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>

    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- Notifications: style can be found in dropdown.less -->
        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="../../dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
            <span class="hidden-xs">Alexander Pierce</span>
          </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
              <img src="../../dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
              <p>Alexander Pierce - Web Developer
                <small>Member since Nov. 2012</small>
              </p>
            </li>
            <!-- Menu Body -->
            
            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-left">
                <a href="#" class="btn btn-default btn-flat">Perfil</a>
              </div>
              <div class="pull-right">
                <a href="#" class="btn btn-default btn-flat">Sair</a>
              </div>
            </li>
          </ul>
        </li>
        <!-- Control Sidebar Toggle Button -->
        <li>
          <a href="#" data-toggle="control-sidebar">
            <i class="fa fa-gears"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<!-- =============================================== -->

<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="../../dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>Alexander Pierce</p>
        <a href="#">
          <i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">MENU</li>
      <li>
        <a href="#">
          <i class="fa fa-dashboard"></i>
          <span>DASHBOARD</span>
        </a>
      </li>
      
      <li class="treeview">
        <a href="#">
          <i class="fa fa-list-alt"></i>
          <span>CADASTRO</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a href="/empresa">
              <i class="fa fa-building"></i> EMPRESA</a>
          </li>
          
          <li>
            <a href="#">
              <i class="fa fa-child"></i> PESSOA</a>
          </li>
          <li class="treeview">
            <a href="#">
              <i class="fa fa-bars"></i> AUXILIARES
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li>
                <a href="#">
                  <i class="fa fa-sort-amount-asc"></i> TIPO PESSOA</a>
              </li>              
            </ul>
          </li>          
        </ul>
      </li>
      
      <li class="treeview">
        <a href="#">
          <i class="fa fa-tasks"></i>
          <span>ATIVIDADE</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a href="#">
              <i class="fa fa-book"></i> TAREFA</a>
          </li>
          <li class="treeview">
            <a href="#">
              <i class="fa fa-bars"></i> AUXILIARES
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li>
                <a href="#">
                  <i class="fa fa-circle-o"></i> SITUAÇÃO</a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-line-chart"></i> NÍVEL</a>
              </li>
              <li class="treeview">
                <a href="#">
                  <i class="fa fa-gears"></i> CONFIGURAÇÃO
                  <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                  </span>
                </a>
                <ul class="treeview-menu">
                  <li>
                    <a href="#">
                      <i class="fa fa-circle-o"></i> FLUXO</a>
                  </li>                  
                </ul>
              </li>
            </ul>
          </li>          
        </ul>
      </li>
      <li class="header">SEGURANÇA</li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-list-alt"></i>
          <span>CADASTRO</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a href="#">
              <i class="fa fa-user"></i> USUÁRIO</a>
          </li>
          
          <li>
            <a href="#">
              <i class="fa fa-unlock"></i> PERMISSÃO</a>
          </li>
          <li class="treeview">
            <a href="#">
              <i class="fa fa-bars"></i> AUXILIARES
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li>
                <a href="#">
                  <i class="fa fa-users"></i> GRUPO</a>
              </li>              
            </ul>
          </li>          
        </ul>
      </li>
      
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>

<!-- =============================================== -->