<!DOCTYPE html>
<html lang="en">
<head>
   <% include /templates/head %>
</head>
<body class="hold-transition skin-blue sidebar-mini"> 
    
    <div class="wrapper">   
        <% include /templates/header %>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            
        
        </div>
        <!-- /.content-wrapper -->     
        <% include /templates/footer %>
        
    </div>
    <% include /templates/scripts %>
</body>
</html>
